################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsideInning/InsideInning.iOS/bin/iPhone/Debug
/InsideInning/InsideInning.iOS/obj/iPhone
*.user
/InsideInning/InsideInning.Droid/obj
/InsideInning.Web/bin
/InsideInning.Web/obj/Debug
/InsideInning.Web/obj/Release
/InsideInning.Web.API/bin
/InsideInning.Web.Core/bin
/InsideInning.Web.Core/obj/Debug
/InsideInning.Web.API/obj/Debug
/InsideInning/InsideInning.WinPhone/Bin/x86/Debug
/InsideInning/InsideInning.WinPhone/obj/Debug
/InsideInning/InsideInning.WinPhone/obj/Release
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/TempPE
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/XapCacheFile.xml
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/App.g.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/App.g.i.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.csproj.FileListAbsolute.txt
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.csproj.GenerateResource.Cache
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.csprojResolveAssemblyReference.cache
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.dll
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.g.resources
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.pdb
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/InsideInning.WinPhone.Resources.AppResources.resources
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/MainPage.g.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/MainPage.g.i.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/InsideInning/InsideInning.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Antlr.3.4.1.9004
/packages
/_UpgradeReport_Files
/InsideInning.userprefs
*.suo
/UpgradeLog.XML
/UpgradeLog.htm
/vs.gitignore
/InsideInning/InsideInning.iOS/bin/iPhoneSimulator/Debug
/InsideInning/InsideInning.iOS/obj/iPhoneSimulator/Debug
/InsideInning/InsideInning.Droid/bin/Debug
